@import 'switch';

.addable-items-inputer {
  .ops {
    padding: 10px 0;
  }
  .list {
    border-bottom: solid 1px #ddd;
    padding: 10px 0;

    .item {
      overflow: hidden;
      margin-bottom: 10px;
      &:last-child {margin-bottom: 0;}
    }
  }
}