.container
  .row
    .col-sm-12
      .page-home-index
        .row
          .col-sm-6
            %table.table.table-striped.table-bordered
              %caption
                %h2 lily components list
              %thead
                %tr
                  %th 组件名
                  %th 类名
              %tbody
                %tr
                  %td 滑块开关
                  %td
                    %i.icon.add
                    Switch
        