@import "bootstrap-sprockets";
@import "bootstrap";

@import "lily/components-all";

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif", "微软雅黑";
  font-size: 14px;
  color: #333;
}

.page-demo {
  h2 {
    margin-bottom: 30px;
  }
  .example {
    border: solid 1px #ddd;
    .name {
      background-color: #F5F5F5;
      border-bottom: solid 1px #ddd;
      padding: 10px 15px;
    }
    .ct {
      padding: 15px 30px;
    }
  }
}